.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-navlink {
  display: contents;
}
.contact-text {
  top: 25px;
  left: 0px;
  right: 0px;
  width: 644px;
  height: 141px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
}
.contact-text1 {
  font-size: 50px;
}
.contact-text2 {
  font-size: 50px;
}
.contact-text3 {
  font-size: 50px;
}
.contact-text4 {
  font-size: 30px;
}
.contact-container1 {
  flex: 0 0 auto;
  width: 562px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-form {
  top: 736px;
  left: 371px;
  width: 385px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
@media(max-width: 991px) {
  .contact-text {
    top: 42px;
    left: 224px;
  }
}
@media(max-width: 767px) {
  .contact-text {
    top: 33px;
    left: 0px;
    right: 0px;
    width: 619px;
    margin: auto;
    padding-top: 0px;
  }
}
@media(max-width: 479px) {
  .contact-text {
    top: 24px;
    right: 12px;
    width: 433px;
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .contact-text1 {
    font-size: 50px;
  }
  .contact-text2 {
    font-size: 50px;
  }
  .contact-text3 {
    font-size: 50px;
  }
  .contact-text4 {
    font-size: 32px;
  }
}
